@font-face {
    font-family: Vazir;
    src: url("../fonts/Vazir.ttf");
}

* {
    font-family: Vazir;
    box-sizing: border-box;
}

@media screen and (min-width : 992px){
    .full-content{
        display: flex;
        flex-direction: column;
    }

    .header{
        display: flex;
        flex-direction: column;
    }
    .ant-divider-m{
        opacity: 0;
    }
}


@media screen and (max-width : 991px){
    .flex-content{
        flex-direction: column;
        margin-top: 0 !important;
    }
    .full-content{
        background: linear-gradient(148deg, rgb(112, 219, 111), rgb(72, 178, 90));
        display: flex;
        flex-direction: row;
        height: 100%;
        overflow: hidden;
    }
    .main-header{
        background: linear-gradient(2deg,#70db6f,#48b25a) !important;
        justify-content:center !important;
    }
    .main-header .container{
        margin: 0 !important;
        padding: 0 10px;
    }
    .header{
        display: flex;
        flex-direction: row;
    }
    .footer{
        display: none ;
    }

    .menu-bottom{
        display: none;
    }

    .header-logo img{
        width: 100px;
    }
    .item-right{
        width: 100% !important;
        height: 200px !important;

    }
    .item-left{
        padding: 0px !important;
    }
    .item-top-svg{
        width: 150px !important;
        height: 100px !important;
        padding: 10px !important;
        margin: 6px;
        --tw-bg-opacity: 1!important;
        background-color: rgb(240 247 241/var(--tw-bg-opacity))!important;
        border-radius: 10px;

        --tw-shadow: 0 4px 6px -1px rgba(0,0,0,.1),0 2px 4px -2px rgba(0,0,0,.1);
        --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color),0 2px 4px -2px var(--tw-shadow-color);
        box-shadow: 0 0 #0000,0 0 #0000,var(--tw-shadow);
        box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow);
        -webkit-user-select: none;
        user-select: none;
    }
    .menu-top{
        justify-content:center !important;
    }
    .header-tabs{
        display: flex;
        justify-content: space-between;
        align-items: flex-start !important;
        background-color: #fff !important;
    }
    .header-tabs .container{
        margin: 0 20px !important;
    }
    .navbar{
        flex-direction: column !important;
        justify-content: center !important;
    }
    .tab-item{
        flex-direction: column !important;
        justify-content: center !important;
    }
    .tab-item a{
        display: flex;
        width: 80px;
        height: 80px;
        margin: 10px;
        border-radius: 6px;
    }
    .tab-page-1-1{
        background-color: rgb(67, 191, 88) !important;
        color: #fff !important;
    }
    .item-top-svg span{
        font-size: .9rem !important;
    }
    .user-wallet a{
        flex-direction: column !important;
        align-items: center;
        margin-top: 60px !important;
    }
}

.container-custom{
    padding: 0 40px;
}

.ant-divider-m{
    border-block-start: 1px solid rgba(5, 5, 5, 0.06);
    --tw-border-opacity: 1;
    border-color: rgb(76 130 81/var(--tw-border-opacity));
    margin: 18px 0 12px 0;

}

.header{
    display: flex;
    flex-direction: column;
}

.main-header{
    background: linear-gradient(355deg,#70db6f,#48b25a);
    display: flex;
    height: 50px;
    overflow: hidden;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.header-logo img{
    width: 200px;
}

.header-logo{
    display: inline-block;
}

.bell-header{
    display: inline-block;
    margin-left: 30px;
}

.user-profile{
    display: inline-block;
    float: left;
}

.user-profile img{
    width: 30px;
}

.bell-header img{
    width: 21px;
}

.header-tabs{
    background-color: rgb(225, 240, 227);
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.page-2-tabs{
    background-color: rgb(226, 213, 201);
}

.tab-item{
    display: flex;
    flex-direction: row;
}

.tab-item a{
    text-decoration: none;
    font-size: .9rem;
    justify-content: center;
    align-items: center;
    padding: 10px 30px;
    font-weight: 600;
}

.tab-page-1-1{
    color: rgb(67, 191, 88);
    background-color: #fff;
}

.tab-page-1-2{
    color: rgb(117, 96, 76);
    background-color: rgb(226, 213, 201);
}

.tab-page-2-1{
    color: rgb(76, 130, 81);
    background-color: rgb(225, 240, 227);
}

.tab-page-2-2{
    color: rgb(117, 96, 76);
    background-color: rgb(255, 255, 255);
}

.user-wallet{
    padding: 5px;
}

.user-wallet a{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 5px;
    text-decoration: none;
    font-size: .8rem;
    color: #6ca776;
}

.user-wallet span{
    color: #000;
    font-size: .8rem;
}

.user-wallet img{
    width: 25px;
}

.navbar{
    padding: 0 !important;
}

.flex-content{
    display: flex;
    margin-top: 20px;
}

.item-right{
    border: 2px solid rgba(76,130,81,.9)!important;
    border-radius: 20px;
    background-color: #edf9eb;
    width: 70%;
    height: 400px;
}

.item-right-page-2{
    background-color: #e2d5c9;
    border: 2px solid rgba(117, 96 ,76,.9);
    border-radius: 20px;
    width: 70%;
    height: 400px;
}

.image-slider{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    width: 100%;
    height: 100%;
}

.image-slider img{
    width: 150px;
    border-radius: 50%;
}

.image-slider span{
    font-size: .9rem;
    font-weight: bold;
    color: #000;
    opacity: 50%;
}

.item-left{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    width: auto;
}

.menu-top{
    display: flex;
    flex-wrap: wrap;
}

.item-top-svg{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.25rem;
    width: 133px;
    cursor: pointer;
}

.item-top-svg svg{
    width: 43px;
}

.item-top-svg span{
    padding-top: 0.5rem;
    color: rgb(76, 130, 81);
    font-size: .7rem;
    font-weight:600;
}

.sp-1{
    padding-top: 0.5rem;
    color: rgb(117, 96, 76) !important;
    font-size: .7rem;
    font-weight:600;
}

.menu-bottom{
    background-color: #f2f2f2;
    border-radius: 20px;
    padding: 1rem;
    margin-top: 1rem;

}

.menu-bottom-body{
    display: flex;
    flex-direction: column;
}

.menu-bottom-title{
    color: #000;
    font-size: .85rem;
    font-weight: bold;
    margin-top: 0.5rem;
    margin-bottom: 0.75rem;
}

.menu-bottom-caption{
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-bottom-text{
    width: 70%;
    padding: 0rem 0.75rem;
    color: #4d4d4d;
    font-size: 0.775rem;
}

.menu-bottom-button button{
    background: linear-gradient(to bottom right,#70db6f,#48b25a);
    padding: 0.6rem 3rem;
    font-size: .8rem;
    border: 0;
    border-radius: 10px;
}

.footer-site{
    display: flex;
    flex-flow: row wrap;
    min-width: 0;
}

.body-notif{
    display: flex;
    flex-direction: column;
    padding-bottom: 0.75rem;
    padding-top: 0.75rem;
}

.title-notif{
    display: block;
    color: #000;
    font-size: .9rem;
    font-weight: bold;
    padding-right: 2rem;
}

.ant-divider{
    display: block;
    margin-block: 0.5rem;
    border: 1px solid rgb(151, 151, 151);;
    border-width: 1px;
    margin: 12px 0!important;
}

.swiper-wrapper{
    display: flex;
    flex-direction: row;
}

.swiper-slide{
    display: flex;
    flex-direction: row;
    transition: .3s;
    padding: 6px;
    border-radius: 10px;
}

.swiper-slide:hover{
    transition: .3s;
    background-color: #f2f2f2;
    cursor: pointer;
}

.swiper-slide svg{
    width: 90px !important;
    padding: 0 3px;
}

.text-notif{
    display: flex;
    flex-direction: column;
}

.p-1{
    display: block;
    opacity: 80%;
    font-size: 0.9rem;
    font-weight: bold;
    padding: 3px !important;
}

.p-2{
    display: block;
    opacity: 70%;
    font-size: 0.8rem;
    padding: 3px 3px 0 3px !important;
}

.p-3{
    color: #008fd1;
    font-size: 1rem;
    text-align: left;
    padding: 0 !important;
}

.footer-bottom{
    margin-bottom: 1rem;
    margin-top: 1rem;
    display: block;
    width: 100%;
}

.footer-bottom-title{
    display: block;
    border-top: 1px solid rgb(230, 230, 230);
    padding-top: 0.5rem;
}

.footer-bottom-text{
    color: #707070;
    font-size: 1rem;


}

.user-wallet-text-1{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.user-wallet-text-2{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.user-mony{
    display: inline-block;
}

.user-mony{
    padding: 4px;
}
    